<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laurdawn.website.dao.UserDao">

  <select id="selectSimple" parameterType="com.laurdawn.website.entity.User" resultType="com.laurdawn.website.entity.User">
    select * from test
  </select>
  
  <!-- <delete id="deleteByExample" parameterType="com.laurdawn.website.entity.UserVoExample">
    delete from t_users
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete> -->
  <!-- <insert id="insert" parameterType="com.laurdawn.website.entity.UserVo" useGeneratedKeys="true" keyProperty="uid">
    insert into t_users (uid, username, password, 
      email, home_url, screen_name, 
      created, activated, logged, 
      group_name)
    values (#{uid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{homeUrl,jdbcType=VARCHAR}, #{screenName,jdbcType=VARCHAR}, 
      #{created,jdbcType=INTEGER}, #{activated,jdbcType=INTEGER}, #{logged,jdbcType=INTEGER}, 
      #{groupName,jdbcType=VARCHAR})
  </insert> -->
  <!-- <insert id="insertSelective" parameterType="com.laurdawn.website.entity.UserVo" useGeneratedKeys="true" keyProperty="uid">
    insert into t_users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="homeUrl != null">
        home_url,
      </if>
      <if test="screenName != null">
        screen_name,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="activated != null">
        activated,
      </if>
      <if test="logged != null">
        logged,
      </if>
      <if test="groupName != null">
        group_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="homeUrl != null">
        #{homeUrl,jdbcType=VARCHAR},
      </if>
      <if test="screenName != null">
        #{screenName,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=INTEGER},
      </if>
      <if test="activated != null">
        #{activated,jdbcType=INTEGER},
      </if>
      <if test="logged != null">
        #{logged,jdbcType=INTEGER},
      </if>
      <if test="groupName != null">
        #{groupName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert> -->
  <!-- <update id="updateByPrimaryKeySelective" parameterType="com.laurdawn.website.entity.UserVo">
    update t_users
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="homeUrl != null">
        home_url = #{homeUrl,jdbcType=VARCHAR},
      </if>
      <if test="screenName != null">
        screen_name = #{screenName,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=INTEGER},
      </if>
      <if test="activated != null">
        activated = #{activated,jdbcType=INTEGER},
      </if>
      <if test="logged != null">
        logged = #{logged,jdbcType=INTEGER},
      </if>
      <if test="groupName != null">
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
  </update> -->
</mapper>